<header class="header-container">
    <div class="logo">
        <h1>Ahmed Emara</h1>
        <p>Junior Software Engineer</p>
    </div>
    <nav class="navigation">
        <ul [ngClass]="{'active': isMenuActive}" class="dropdown-menu">
            <li><a routerLink="/" routerLinkActive="active-link" (click)="toggleMenu()">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active-link" (click)="toggleMenu()">About</a></li>
            <li><a routerLink="/skills" routerLinkActive="active-link" (click)="toggleMenu()">Skills</a></li>
            <li><a routerLink="/projects" routerLinkActive="active-link" (click)="toggleMenu()">Projects</a></li>
        </ul>
    </nav>
    <div class="mobile-menu" (click)="toggleMenu()" [class.active]="isMenuActive"
        [attr.aria-expanded]="isMenuActive ? 'true' : 'false'">
        <i class="fas fa-bars"></i>
    </div>
</header>