<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-social">
            <a href="mailto:ahmedhossamemara8&#64;gmail.com" target="_blank">
                <img src="/icons/gmail.png" alt="Email" class="footer-icon" />
            </a>
            <a href="https://github.com/AhmedHossam8" target="_blank">
                <img src="/icons/github.png" alt="GitHub" class="footer-icon" />
            </a>
            <a href="https://www.linkedin.com/in/ahmed-hossam-ba55b8222/" target="_blank">
                <img src="/icons/linkedin.png" alt="LinkedIn" class="footer-icon" />
            </a>
            <a href="https://wa.me/+201228536464" target="_blank">
                <img src="/icons/whatsapp.png" alt="WhatsApp" class="footer-icon" />
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Ahmed Emara. All Rights Reserved.</p>
    </div>
</footer>