<section id="skills">
    <div class="skills-container">
        <h2>My Skills</h2>
        <p>
            Below are the key technical skills I have gained through my academic journey, projects, and professional
            experiences:
        </p>
        <div class="skills-category">
            <h3>Languages</h3>
            <div class="skills-list">
                <div class="skill-card">C#</div>
                <div class="skill-card">C++</div>
                <div class="skill-card">C</div>
                <div class="skill-card">Java</div>
                <div class="skill-card">Python</div>
                <div class="skill-card">Kotlin</div>
                <div class="skill-card">JavaScript</div>
                <div class="skill-card">PHP</div>
                <div class="skill-card">HTML</div>
                <div class="skill-card">CSS</div>
            </div>
        </div>

        <div class="skills-category">
            <h3>Frameworks</h3>
            <div class="skills-list">
                <div class="skill-card">ReactJS</div>
                <div class="skill-card">AngularJS</div>
                <div class="skill-card">ASP.NET</div>
                <div class="skill-card">ASP.NET Core</div>
                <div class="skill-card">Fast API</div>
                <div class="skill-card">Node.js</div>
                <div class="skill-card">Express</div>
                <div class="skill-card">Flutter</div>
            </div>
        </div>

        <div class="skills-category">
            <h3>Databases</h3>
            <div class="skills-list">
                <div class="skill-card">SQL</div>
                <div class="skill-card">NoSQL</div>
                <div class="skill-card">MySQL</div>
                <div class="skill-card">MongoDB</div>
                <div class="skill-card">PostgreSQL</div>
                <div class="skill-card">GraphQL</div>
            </div>
        </div>

        <div class="skills-category">
            <h3>Platforms</h3>
            <div class="skills-list">
                <div class="skill-card">Unix/Linux</div>
            </div>
        </div>

        <div class="skills-category">
            <h3>Design Patterns</h3>
            <div class="skills-list">
                <div class="skill-card">Singleton</div>
                <div class="skill-card">Factory</div>
                <div class="skill-card">Observer</div>
                <div class="skill-card">MVC</div>
                <div class="skill-card">Repository</div>
                <div class="skill-card">Dependency Injection</div>
            </div>
        </div>

        <div class="skills-category">
            <h3>Tools & Practices</h3>
            <div class="skills-list">
                <div class="skill-card">AWS Services</div>
                <div class="skill-card">Agile Methodology</div>
                <div class="skill-card">Git</div>
                <div class="skill-card">Rest API</div>
                <div class="skill-card">Bootstrap</div>
                <div class="skill-card">Algorithms & Data Structures</div>
            </div>
        </div>
    </div>
</section>