* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #101825;
    color: white;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom, #101825, #2c3e50);
    background-size: cover;
    background-position: center;
}

main section {
    scroll-margin-top: 120px;
}